<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.xinxinxuedai">

    <uses-sdk android:minSdkVersion="4"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <!-- 可选 ，如果添加这个权限 apk下载在sdcard中的Android/data/包名/cache目录下 否则下载到 内存中的 /data/data/包名/cache中 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- 富友权限 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="com.fuiou.permission.FUIOU_PAY"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:name=".app.AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/new114"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoTitleBar"
        tools:replace="android:icon, android:label, android:theme,android:name">
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".WebView.ui.WebViewActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.RegisterActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.LoginActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.ApplyForActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.BankCardInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity
            android:name=".ui.PersonalDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity
            android:name=".ui.LoanProductsActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.LoanApplicationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity
            android:name=".ui.ReimbursementActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.AboutUsActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.OrganizingDataActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity
            android:name=".ui.UploadPicturesActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.UploadVideoActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.ApplicationStatusActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.ChoiceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyleBottom"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity
            android:name=".UpLoadVideo.SendSmallVideoActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".UpLoadVideo.VideoPlayerActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="mabeijianxi.camera.MediaRecorderActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.TopUpActivity">
        </activity>
        <activity android:name=".ui.SchoolAddressActivity">
        </activity>
        <activity android:name=".ui.SelectCityActivity">
        </activity>
        <!-- 富友activity -->
        <activity
            android:name="com.fuiou.pay.activity.FyWebActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name="com.example.androidmobilepy36.MainPayActivity"
            android:label="@string/app_name">
        </activity>
        <activity android:name=".ui.ShowInfoActivity">
        </activity>

        <!-- 友盟统计 -->
        <!-- 自己的 -->
        <!--
            <meta-data
            android:name="UMENG_APPKEY"
            android:value="585ce3c9ae1bf87e17001d41"/>
        -->
        <!-- 公司的 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="58608ab57f2c74322e000bcb"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Channel ID"/>

        <activity android:name=".ui.TestActivity">
        </activity>
        <activity android:name=".ui.SigninActivity">
        </activity>
        <activity android:name=".ui.Fuwu_and_xieyi_Activity">
        </activity>
        <activity android:name=".ui.Test2Activity">
        </activity>
        <activity android:name=".ui.Re_stagingActivity">
        </activity>
    </application>

</manifest>