<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.xinxinxuedai">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <!-- 可选 ，如果添加这个权限 apk下载在sdcard中的Android/data/包名/cache目录下 否则下载到 内存中的 /data/data/包名/cache中 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".app.AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoTitleBar"
        tools:replace="android:theme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".WebView.ui.WebViewActivity">
        </activity>
        <activity android:name=".ui.RegisterActivity">
        </activity>
        <activity android:name=".ui.LoginActivity">
        </activity>
        <activity android:name=".ui.ApplyForActivity">
        </activity>
        <activity
            android:name=".ui.BankCardInfoActivity"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity
            android:name=".ui.PersonalDetailsActivity"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity android:name=".ui.LoanProductsActivity">
        </activity>
        <activity
            android:name=".ui.LoanApplicationActivity"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity android:name=".ui.ReimbursementActivity">
        </activity>
        <activity android:name=".ui.AboutUsActivity">
        </activity>
        <activity android:name=".ui.OrganizingDataActivity">
        </activity>
    </application>

</manifest>